@model Book

<div class="product__item">
    <div class="product__item__pic set-bg" data-setbg="@Model.ImageUrl">
        <div class="ep">@Model.Year</div>
        @*<div class="comment"><i class="fa fa-comments"></i> 11</div>
        <div class="view"><i class="fa fa-eye"></i> 9141</div>*@
    </div>
    <div class="product__item__text">
        <ul>
            <li>Test1</li>
            <li>Test2</li>
        </ul>
        <h5><a href="#">@Model.Name</a></h5>
        <p style="color:aliceblue">@Model.Author</p>
    </div>
    </div>