@model IEnumerable<Author>

@foreach (var author in Model)
{
    <div class="hero__items set-bg" data-setbg="@author.ImageUrl">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero__text">
                    @*<div class="label">Adventure</div>*@
                    <h2>@author.Name</h2>
                    <p>@author.Description</p>
                    <a href="#"><span>Kitapları Gör</span> <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
}

